{% extends "base.html" %}

{% block body %}
<body>
<div class="main-panel">
    <div class="content-wrapper">


        <div class="col-lg-12">
            <div class="card card-secondary mb-4">
                <div class="card-body d-lg-flex  justify-content-between">

                    <div>Change Password</div>
                    <div><a href="/dashboard" title="Dashboard">Dashboard </a> / Change Password</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 stretch-card grid-margin">
            <div class="card">
                <!-- alert box -->
                <div class="alert alert-success alert-dismissible" id="completed" role="alert">
                    Thank You Submission successfully
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- alert end -->
                <div class="card-body">
                    <form class="forms-sample" id="add">
                        <div class="form-group">
                            <label for="user">Old Password</label>
                            <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="mail">New Password</label>
                            <input type="email" class="form-control form-control-sm" id="mail"
                                placeholder="Enter New Password" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Confirm Password</label>
                            <input type="email" class="form-control form-control-sm" id="exampleInputEmail3"
                                placeholder="Enter Change Password" required>
                        </div>
                        <button type="submit" data-target="#completed"
                            class="btn  btn-sm btn-rounded btn-info  mr-2">Submit</button>
                </div>

            </div>
         
            </form>
        </div>
    </div>


</body>
{% endblock %}


