{% extends "base.html" %}

{% block body %}
<body>
    <!-- <button class="prt-rt" onclick="print('#content')">Print PDF</button> -->
    <a href="{% url 'create-pdf' %}" class="prt-rt">Print PDF</a>
<div class="container" id="content">
   <div class="nain">
    <div class="container-1">
        <div class="roots">
            <div class="rt-lo">
                <img class="logos" src="{% static   './images/inner-image/logo-2.jpg' %}" alt="">
            </div>
            <div class="rt-detal">
                <h4 class="center">GOVERNMENT OF BIHAR</h4>
                <h4 class="center">DEPARTMENT OF SCIENCE & TECHNOLOGY</h4>
                <br>
                <h2 class="center">STATE BOARD OF TECHNICAL EDUCATION, BIHAR</h2>
            </div>
        </div>
    <h2 class="center">REGISTRATION FORM</h2>
    <br>
    <div class="flex-container">
        <div class="flex-left">
            <table style="width: 92%;">
                <tr>
                 <td>DCECEB/BPTPIA Roll No. </td>
                 <td  class="bold-txt">:61001896</td>
                
                </tr>
                <tr>
                    <td>Name of Branch</td>
                  <td class="bold-txt">: Agricultural Engineering</td>
                </tr>
                <tr>
                    <td>Name of Institute</td>
                  <td class="bold-txt">: Government Polytechnic, Bhagalpu</td>
                </tr>
                <tr>
                    <td>Date of Admission in Institute</td>
                  <td class="bold-txt">: 2022-10-02</td>
                </tr>
                <tr>
                    <td>Aadhaar Number</td>
                  <td class="bold-txt">:  465465</td>
                </tr>
                <tr>
                    <td>Name of Student</td>
                  <td class="bold-txt">:  MANISH KUMAR</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                  <td class="bold-txt">:  1999-03-13</td>
                </tr>
                <tr>
                    <td>Gender</td>
                  <td class="bold-txt">: M</td>
                </tr>
                <tr>
                    <td>Father's Name</td>
                  <td class="bold-txt">: TANIKLAL MAHTO</td>
                </tr>
                <tr>
                    <td>Mother's Name</td>
                  <td class="bold-txt">: MNAME</td>
                </tr>
                <tr>
                    <td>Mobile Number</td>
                  <td class="bold-txt">: 9431033398</td>
                </tr>
                <tr>
                    <td>Email</td>
                  <td class="bold-txt">: sks.nws@gmail.com</td>
                </tr>
                <tr>
                    <td>Communication Address </td>
                  <td class="bold-txt">: PATNA, PATNA, PATNA, BIHAR - 800001</td>
                </tr>
                <tr>
                    <td>Permanent Address</td>
                  <td class="bold-txt">: BIHAR, BIHAR, BIHAR, BIHAR - 811024</td>
                </tr>
                
              </table>
        </div>
        <div class="flex-right">
            <table style="width: 92%;">
            <tr>
                <td>Session</td>
              <td class="bold-txt">:2020 - 2023 (LE)</td>
            </tr>
            <tr>
                <td>Branch Code</td>
              <td>:  11</td>
            </tr>
            <tr>
                <td>Institute Code</td>
              <td>:  112  </td>
            </tr>
            <tr>
                <td>Category </td>
              <td>: BC</td>
            </tr>
            <tr>
                <td>Admission Category</td>
              <td>: UNRESERVED</td>
            </tr>
        </table>
          <div style="width:100px; "><img  src="/profile.jpg" style="width:90px;margin-left: 58px; padding-top:44px;" alt=""></div>
            
            <div style="width:100px;">
                <img src="/sign.jpg" style="width:150px; margin-left: 26px;" alt="">
            </div>
           


        </div>
    </div>
    <section class="sub-detail">

        <table class="tabels">
            <tr class="bdr-tr">
                <th class="bdr-tr">Exam Name</th>
                <th class="bdr-tr">Board/University</th>
                <th class="bdr-tr">School/College</th>
                <th class="bdr-tr">Roll No.</th>
                <th class="bdr-tr">Year</th>
                <th class="bdr-tr">Subjects</th>
                <th class="bdr-tr">Result</th>
                <th class="bdr-tr">Marks(%)</th>
            </tr>
         
            <tr class="bdr-tr">
                <td class="bdr-tr">Theory</td>
                <td class="bdr-tr">2002202</td>
                <td class="bdr-tr">Applied Physics-II</td>
                <td class="bdr-tr">Theory</td>
                <td class="bdr-tr">2002202</td>
                <td class="bdr-tr">Applied Physics-II</td>
                <td class="bdr-tr">2002202</td>
                <td class="bdr-tr">Applied Physics-II</td>
            </tr>
            <tr class="bdr-tr">
                <td class="bdr-tr">Theory</td>
                <td class="bdr-tr">2002202</td>
                <td class="bdr-tr">Applied Physics-II</td>
                <td class="bdr-tr">Theory</td>
                <td class="bdr-tr">2002202</td>
                <td class="bdr-tr">Applied Physics-II</td>
                <td class="bdr-tr">2002202</td>
                <td class="bdr-tr">Applied Physics-II</td>
            </tr>   
        </table>
    </section>
    <br>
    <div class="flex-container">
        <div class="flex-left">
            <table style="width:80%;">
             
                  <tr>
                    <td ></td>
                    <td >2002202</td>
                    <td >Engg. Graphics</td>
                    <td >100</td>
                </tr>
                <tr>
                    <td ></td>
                    <td >2002202</td>
                    <td >Engg. Graphics</td>
                    <td >100</td>
                </tr>
                <tr>
                    <td ></td>
                    <td >2002202</td>
                    <td >Engg. Graphics</td>
                    <td >100</td>
                </tr>
              </table>
        </div>
        <div class="flex-right">
         <div style= "padding-top: 50px;">
            <p style="float:right; margin-right: 10px;">Signature of Candidate</p>
         </div>
        </div>
    </div>
<br>
<br>
    <div class="flex-container-1">
        <div class="flex-left-1">
            <table style="width:80%; padding-top: 51px;">
                <tr>
                    <td>Registration Fee </td>
                    <td >: Rs. 500.0</td>
                   
                   </tr>
                   <tr>
                    <td>Registration Date </td>
                    <td >: 07-Feb-2022</td>
                   
                   </tr>
              </table>
        </div>
        <div class="flex-right-1">
         <div style= " padding-top: 10px;">
            <p><b>For college/office use</b></p>
            <table style="width:80%; padding-top: 20px;">
                <tr class="bdr-tr">
                    <td class="bdr-tr">Class Roll Number </td>
                    <td class="bdr-tr">:4566777777</td>
                   
                   </tr>
                   <tr class="bdr-tr">
                    <td class="bdr-tr">Registration Number</td>
                    <td class="bdr-tr">: 07-Feb-2022</td>
                   
                   </tr>
              </table>
         </div>
        </div>
    </div>
<br>
 <h4 style="margin-left:10px">NOTE: Please submit your Registration Form till 08-Feb-2022 to the Principal of concerned institute</h4>
 <br>
<img  src="/down-sec.PNG" style="width:780px;" alt="">
   </div>
</div>
<script>
    function print(pdf) {
        // Create an IFrame.
        var iframe = document.createElement('iframe');  
        // Hide the IFrame.  
        iframe.style.visibility = "hidden"; 
        // Define the source.  
        iframe.src = pdf;        
        // Add the IFrame to the web page.
        document.body.appendChild(iframe);  
        iframe.contentWindow.focus();       
        iframe.contentWindow.print(); // Print.
    }
</script>

</body>
    {% endblock %}

        <!-- content-wrapper ends -->
        <!-- footer start -->
        
        <!-- footer end -->