{% extends "base.html" %}

{% block body %}
<body>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-lg-12">
            <div class="card card-secondary mb-4">
                <div class="card-body d-lg-flex  justify-content-between">

                    <div>Student Registration</div>
                    <div><a href="login.php" title="Dashboard">Dashboard </a> / Student Registration</div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="brand-logo mt-5">
                            <div class="form-group">
                                    <label for="user">Reg No</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                        <h5 class="text-center">Bihar State Board of Commission</h5>
                            <div class="center-img">
                                <img class="center" src="./images/inner-image/logo-2.jpg">
                            </div>
                        </div>
                        <div class="col-lg-3">
                          <div class="box-profile">Please affix here your recent passport size color photograph duly attested by gazetted officer    </div>
                        </div>
                    </div>
                    <br>
                    <form class="forms-sample">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="user">Registration No</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                    <label for="user">From</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder=""
                                        required>
                                   
                                </div>
                                    </div>
                                    <div class="col-lg-6">
                                    <div class="form-group">
                                    <label for="user">To</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder=""
                                        required>
                                </div>
                                    </div>
                                </div>
                               
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="user">Branch</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="user">Code</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="user">Branch Name</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="user">Code</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Student Name</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Mobile Name</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                        <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Father Name</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Mother Name</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                           

                        </div>
                        <div class="row">
                        <div class="col-lg-6">
                        <label>Garner</label>
                        <div class="form-group row">
                          
                            <div class="col-sm-6">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>New Student</label>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">Existing Student</label>
                              </div>
                            </div>
                          </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Email Id</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                           

                        </div>
                        <div class="row">
                        <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Local Address</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Parmanent Address</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                </div>
                            </div>
                           

                        </div>
                        <div class="row">
                        <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Roll Number</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="user">Enrollment Number</label>
                                    <input type="text" class="form-control form-control-sm" id="user" placeholder="Name"
                                        required>
                                </div>
                            </div>
                           

                        </div>
                        <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> Roll Number</th>
                                <th> Name </th>
                                <th>Date Of Birth </th>
                                <th>Category</th>
                                <th>Admission</th>
                                <th> Type</th>
                                <th> Number</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr>
                                <td>  </td>
                                <td>  </td>
                                <td> </td>
                             
                            
                                <td> </td>
                                <td> </td>

                                <td>  </td>
                                <td>  </td>
                             
                            </tr>
                        </tbody>
                    </table>

                    </form>

                </div>
            </div>
        </div>
    </body>

        {% endblock %}


